.output-box{
    width: calc(90% - 10px);
    height: 300px;
    margin: 10px auto;
    border: 1px solid #ed2162;
    background-color: #e6e6e6;
    overflow-y: scroll;
    padding: 0px 5px;
    border-radius: 10px;
}

.input-box{
    width: 60%;
    margin: 10px auto;
    height: 80px;
}

.chat-input{
    margin: auto;
    text-align: center;
}

.username{
    font-weight: bold;
}