<div #output class='output-box'>
  <div *ngFor = "let m of messages">
    <span class="username"> {{m.username}} -</span> {{m.body}}
  </div>
</div>

<div class="chat-input">
  <mat-form-field>
    <mat-label>Message</mat-label>
    <textarea matInput
              [(ngModel)]="messageText"
              placeholder="Enter a new message..."
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="10"></textarea>
  </mat-form-field>

  <button mat-icon-button color="primary" aria-label="Send Message" (click)="sendMessage()">
    <mat-icon>send</mat-icon>
  </button>
</div>