<div #output class='output-box'>
  <div *ngFor = "let m of messages" [style.background-color]="m.msg.displayName != 'System' ? '#4b4b4b' : 'black'">
    <span [style.color]="m.color"  class="displayName"> {{m.msg.displayName}} </span>- {{m.msg.body}}
  </div>
</div>

<div class="chat-input">
  <mat-form-field class="input-box">
    <mat-label>Message</mat-label>
    <textarea matInput
              [disabled]="isArtist && !winner && answer != ''"
              [(ngModel)]="messageText"
              placeholder="Enter a new message..."
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="3"
              (keydown.enter)="sendMessage()"
              (keydown.enter)="onKeydown($event)"></textarea>
  </mat-form-field>

  <button mat-icon-button color="primary" aria-label="Send Message" (click)="sendMessage()">
    <mat-icon>send</mat-icon>
  </button>
</div>