<div *ngIf="!savedName" class="parent topMargin">
    <p>Please enter a Display Name</p>
    <form class="example-form">
        <mat-form-field class="example-full-width">

            <mat-label></mat-label>
            <input matInput [(ngModel)]="displayName" name="displayName" (keyup.enter)="savePlayer()" [formControl]="displayNameControl">
            <mat-error *ngIf="displayNameControl.hasError('system')">
                Invalid Display Name
              </mat-error>
        </mat-form-field>
    </form>


    <button mat-raised-button color="primary" class="smallButton" (click)="savePlayer()">Submit</button>
</div>

<ng-container *ngIf="savedName">
    <div class="container">
        <div class="stats-box container">

            <h2 *ngIf='!winner'>ARTIST : {{gameInfo?.artist.displayName}} </h2>
            <h2 *ngIf="isArtist && !winner">TOPIC : {{gameInfo?.currentTopic}}</h2>
            <h2>TIME : {{timer}}</h2>
        </div>
    </div>

    <div class="container">
        <app-chat class="fb-20 chat"></app-chat>
        <app-sketchpad class="fb-20 sketch" (newTopicEvent)="newTopic($event)" [winner]="winner" [isArtist]="isArtist"
        (closeRoomEvent)="closeRoom()" (leaveGameEvent)="leaveGame()" [isHost]="isHost"
        ></app-sketchpad>
        <app-scoreboard class="fb-20 scoreboard" [gameConfig]="gameInfo?.gameConfig" [users]="gameInfo?.users" [artist]="gameInfo?.artist" [winner]="winner ? winner : null" ></app-scoreboard>
    </div>

</ng-container>