.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.fb-20 {
    flex-basis: 20%;
}

.stats-box {
    width: 100%;
    height: 50px;
    margin: auto;
    background-color: #4b4b4b;
    padding: 0px 5px;
    justify-content: space-around !important;
}

h2 {
    line-height: 50px;
}

.smallButton{
    width: 80px;
    height: 40px;   
}

.topMargin{
    margin-top: 200px;
}

.parent{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.btnDiv {
    position: sticky;
    bottom: 23px;
}

.leave-btn {
    right: 140px;
}

.close-btn {
    right: 265px;
}

.topic-btn {
    right: 125px;
}

.absolute {
    position: absolute;
}





