<div *ngIf="!savedName" class="parent topMargin">
    <p>Please enter a Display Name</p>
    <form class="example-form">
        <mat-form-field class="example-full-width">

            <mat-label></mat-label>
            <input matInput [(ngModel)]="displayName" name="displayName" (keyup.enter)="savePlayer()">
        </mat-form-field>
    </form>


    <button mat-raised-button color="primary" class="smallButton" (click)="savePlayer()">Submit</button>
</div>

<ng-container *ngIf="savedName">
    <div class="container">
        <div class="stats-box container">

            <h2>ROUND : {{gameInfo?.gameConfig.currentRound}} / {{gameInfo?.gameConfig.maxRounds}}</h2>
            <h2>ARTIST : {{gameInfo?.artist.displayName}} </h2>  
            <h2 *ngIf = "isArtist">TOPIC : {{gameInfo?.currentTopic}}</h2>
            <h2>TIME : {{timer}}</h2>
        </div>
    </div>

    <div class="container">
        <app-chat class="fb-20"></app-chat>
        <app-sketchpad class="fb-20"></app-sketchpad>
        <app-scoreboard class="fb-20" [users]="gameInfo?.users" [artist]="gameInfo?.artist"></app-scoreboard>
    </div>
    <div class="container btnDiv">
        <button class="topic-btn" mat-raised-button color="warn" *ngIf="isArtist" (click)="newTopic()">New Topic</button>
        <button class="absolute close-btn" mat-raised-button color="warn">CLOSE ROOM</button>
        <button class="absolute leave-btn" mat-raised-button routerLink="home" (click)="leaveGame()">LEAVE ROOM</button>
    </div>
</ng-container>