.parent{
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
}

.container{
    width: 100%;
}

.shrink{
    width: 200px;
}

.topMargin{
    margin-top: 50px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
