<mat-toolbar color="primary">
  <span>Pictionary C4</span>
  <button mat-button class="new-btn">
  <span>Create New Game</span>
  </button>
  <button mat-button class="join-btn">
    <span>Join Game</span>
   </button>
  <span style="flex: 1 1 auto;"></span>
  <button mat-icon-button>
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>login</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>