canvas{
    width: 600px;
    height: 425px;
    border: 2px solid  #ed2162;
    margin: 10px auto;
    background-color: #e6e6e6;
    border-radius: 10px;
    cursor: crosshair;
}

.button-container{
    width: 610px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

button{
    margin: 3px 10px;
}

.btn-left{
    flex-basis: 1 1 10px;
}
.btn-right{
    flex-basis: 0 0 140px;
}