canvas{
    width: 600px;
    height: 500px;
    border: 2px solid  #ed2162;
    margin: 10px auto;
    background-color: #e6e6e6;
    border-radius: 10px;
}

button{
    float:right;
    margin-right: 5px;
}

.buttonDiv{
    width: 610px;
}