<div class="topMargin">
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <button [routerLink]="['/creategame']" class="largeButton" mat-raised-button color="primary">Create Game</button>
  </mat-grid-tile>

  <mat-grid-tile>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Enter Game URL</mat-label>
        <input matInput>
      </mat-form-field>
      <button mat-raised-button color="primary">Join Game</button>
    </form>
  </mat-grid-tile>

</mat-grid-list>
</div>