
<h1 class="txt-center container">Home</h1>

<div class="container">
  <div class="content">
    <form class="example-form">
      <mat-form-field class="w-100">
        <mat-label>Enter Game URL</mat-label>
        <input matInput>
      </mat-form-field>
      <button mat-raised-button class="w-100" color="primary">Join Game</button>
    </form>

    <p class="txt-center">Not joining an existing game?</p>
  <button (click)="notLoggedIn()" class="largeButton w-100" mat-raised-button color="primary">Create Game</button>
</div>
</div>